// Special codes for the main page of the show
.nav_rakon {
  position: absolute;
  backdrop-filter: none !important;
  .nav-pills {
    .nav-item {
      .nav-link {
        color: $white-color !important;
        &.active {
          color: $blue-color !important;
        }
      }
    }
  }
}
.buy_theme {
  padding: 0.9rem 1.65rem;
  border-radius: 12px;
  background-color: $blue-color;
  color: $white-color;
  font-size: 16px !important;
  @include prefixer(transition, 0.3s, webkit moz o ms);
  &:hover {
    background-color: $dark-color;
    color: $white-color;
  }
  img {
    margin-right: 0.3rem;
    width: 13px;
    vertical-align: middle;
  }
}
.fixed-header {
  header {
    &.nav_rakon {
      .nav-pills {
        .nav-item {
          .nav-link {
            &.active {
              color: $dark-color !important;
            }
          }
        }
      }
    }
  }
}
.banner_rakon {
  background-color: rgba($orange-color, 0.06) !important;
  height: 100% !important;
  padding-bottom: 12rem;
  &::before {
    content: "";
    background-image: url("../img/rakon/grid.svg");
    background-repeat: no-repeat;
    background-position: 100%;
    position: absolute;
    top: -2rem;
    right: -3rem;
    width: 100%;
    height: 100%;
  }
  .banner_title {
    .offer {
      background-color: $beiget-color;
      padding: 0.85rem 1.35rem;
      border-radius: 12px;
      width: max-content;
      span {
        font-size: 14px;
      }
    }
    h1 {
      color: $dark-color !important;
      text-transform: capitalize;
      @include maxMobile {
        font-size: 40px;
      }
      span {
        color: $blue-color;
      }
    }
    .item_nb {
      margin-top: 1.5rem;
      p {
        display: inline-block;
        color: $dark-color !important;
        margin-right: 1.5rem;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
.device_section {
  background-color: #05111c;
  position: relative;
  .overlay_curve {
    position: relative;
    overflow: hidden;
    padding: 4rem 0;
    z-index: 0;
    &:before {
      content: "";
      @include overlay;
      background-image: url("../img/rakon/curve.png");
      background-repeat: no-repeat;
      opacity: 0.3;
      background-size: 100%;
      bottom: 0;
      @include maxMobile {
        background-position: center;
        background-size: cover;
      }
    }
  }
  .item_device {
    position: absolute;
    left: -5rem;
    top: 4rem;
    z-index: 1;
    @include maxMobile {
      left: auto;
    }
    img {
      position: relative;
      display: inline-block;
      margin-right: 2rem;
      margin-top: -13rem;
      &:nth-of-type(1) {
        width: 45%;
        @include maxMobile {
          width: 100%;
          margin-right: 0;
        }
      }
      &:nth-of-type(2) {
        width: 30%;
        @include maxMobile {
          display: none;
        }
      }
      &:nth-of-type(3) {
        width: 11%;
        @include maxMobile {
          display: none;
        }
      }
    }
  }
  .data_source {
    margin-top: 19rem;
    @include maxSmall {
      margin-top: 6rem;
    }
    span {
      font-size: 50px;
      font-weight: 600;
      color: $white-color;
      display: block;
      margin-bottom: 0.25rem;
    }
    img {
      margin-bottom: 1.75rem;
    }
    h3 {
      color: $white-color;
      font-size: 30px;
    }
  }
}
.demos_section {
  .title_sections {
    margin-bottom: 4.375rem;
  }
  .item {
    margin-bottom: 2.25rem;
    position: relative;
    .pic_show {
      position: relative;
      overflow: hidden;
      background-color: #f0eef3;
      border-radius: 12px;
      padding: 2.5rem;
      height: 290px;
      border: 4px solid$white-color;
      @include prefixer(transition, 0.4s, webkit moz o ms);
      img {
        width: 100%;
        @include prefixer(
          transition,
          0.35s cubic-bezier(0.46, 0.03, 0.52, 0.96),
          webkit moz o ms
        );
        @include prefixer(
          box-shadow,
          0px 40px 50px 20px rgba(4, 36, 104, 0.1),
          webkit moz o ms
        );
      }
    }
    .item_name {
      margin-top: 1.5rem;
      span {
        display: block;
        font-size: 14px;
        color: $gray-color;
        margin-bottom: 0.5rem;
      }
      h4 {
        color: $dark-color;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 1rem;
      }
      .btn {
        padding: 0.6rem 1.5rem;
        border-radius: 12px;
        background-color: rgba($dark-color, 0.05);
        color: $dark-color;
        @include prefixer(transition, 0.3s, webkit moz o ms);
        margin-right: 0.5rem;
        &:hover {
          background-color: $blue-color;
          color: $white-color;
        }
      }
    }
    &:hover {
      .pic_show {
        @include prefixer(
          box-shadow,
          0px 50px 50px -30px rgba(4, 36, 104, 0.1),
          webkit moz o ms
        );
        img {
          margin-top: 15px;
        }
      }
    }
    .latest__new {
      position: absolute;
      border-radius: 8px;
      background-color: $red-color;
      color: $white-color;
      font-size: 14px;
      top: 1.25rem;
      left: 1.25rem;
      padding: 0.4rem 1.2rem;
      @include prefixer(
        box-shadow,
        0px 0px 30px 0px rgba($red-color, 0.2),
        webkit moz o ms
      );
    }
  }
  // .it__ems {
  //   &:nth-of-type(2) {
  //     .item {
  //       .pic_show {
  //         background-color: $blue-color;
  //       }
  //     }
  //   }
  //   &:nth-of-type(3) {
  //     .item {
  //       .pic_show {
  //         background-color: $beiget-color;
  //       }
  //     }
  //   }
  //   &:nth-of-type(4) {
  //     .item {
  //       .pic_show {
  //         background-color: #f3ebf5;
  //       }
  //     }
  //   }
  //   &:nth-of-type(5) {
  //     .item {
  //       .pic_show {
  //         background-color: #c083fd;
  //       }
  //     }
  //   }
  //   &:nth-of-type(6) {
  //     .item {
  //       .pic_show {
  //         background-color: $red-color;
  //       }
  //     }
  //   }
  //   &:nth-of-type(7) {
  //     .item {
  //       .pic_show {
  //         background-color: #eff3f7;
  //       }
  //     }
  //   }
  //   &:nth-of-type(8) {
  //     .item {
  //       .pic_show {
  //         background-color: #6f5fa6;
  //       }
  //     }
  //   }
  //   &:nth-of-type(9) {
  //     .item {
  //       .pic_show {
  //         background-color: $beiget-color;
  //       }
  //     }
  //   }
  // }
}
.comming {
  text-align: center;
  margin-top: 5rem;
  font-size: 18px;
  font-weight: 600;
  @include maxSmall {
    margin-top: 1rem;
  }
  span {
    width: 8px;
    height: 16px;
    background-color: $beiget-color;
    border-radius: 3px;
    display: inline-block;
    margin-right: 0.3rem;
    vertical-align: middle;
    @include prefixer(
      animation,
      flicker-1 2s linear infinite both,
      webkit moz o ms
    );
    color: $dark-color;
  }
}
.components_section {
  .bg_overlay {
    background-color: #05111c;
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 15rem;
    @include maxSmall {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    &:before {
      content: "";
      @include overlay;
      background-image: url("../img/rakon/curve.png");
      background-repeat: no-repeat;
      opacity: 0.3;
      background-size: 100%;
      bottom: 0;
      @include maxMobile {
        background-position: center;
        background-size: cover;
      }
    }
    .title_sections {
      margin-bottom: 2rem;
      h3 {
        color: $white-color;
        display: inline-block;
      }
      span {
        background-color: $red-color;
        border-radius: 8px;
        padding: 0.3rem 0.85rem;
        font-size: 13px;
        font-weight: 400;
        color: $white-color;
        display: inline-block;
        vertical-align: super;
        margin-left: 0.5rem;
      }
    }
    .item_product {
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid rgba($white-color, 0.15);
        color: $white-color;
        border-radius: 22px;
        margin-right: 1rem;
        .tio {
          font-size: 24px;
        }
      }
      .txt {
        margin-top: 0.4rem;
        h5 {
          color: $white-color;
          font-weight: 600;
          font-size: 16px;
        }
        p {
          color: $light-color;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
  .item_card {
    margin-top: -13rem;
    position: relative;
    z-index: 1;
  }
}
.feat_section {
  background-color: rgba($orange-color, 0.06) !important;
  margin-top: -18rem !important;
  padding-top: 23rem !important;
  padding-bottom: 3.5rem !important;
  @include maxSmall {
    margin-top: 0 !important;
    padding-top: 3.5rem !important;
    padding-bottom: 3rem !important;
  }
  .item_pro {
    margin-bottom: 2rem;
    padding-right: 2rem;
    @include maxSmall {
      padding-right: 0;
    }
    .icon_t {
      background-color: $beiget-color !important;
      border-radius: 22px !important;
      color: $dark-color !important;
      margin-bottom: 1.25rem;
      img {
        width: 22px;
      }
      .anime_svg {
        .opac {
          @include prefixer(
            animation,
            flash linear 4.5s infinite,
            webkit moz o ms
          );
        }
        .opac01 {
          @include prefixer(
            animation,
            flash linear 6.5s infinite,
            webkit moz o ms
          );
        }
        .opac02 {
          @include prefixer(
            animation,
            flash linear 11.5s infinite,
            webkit moz o ms
          );
        }

        .opac04 {
          @include prefixer(
            animation,
            flash linear 8.5s infinite,
            webkit moz o ms
          );
        }
        .opac05 {
          @include prefixer(
            animation,
            flash linear 3.5s infinite,
            webkit moz o ms
          );
        }
      }
      svg {
        rect {
          fill: $dark-color;
        }
      }
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
.showcase {
  .images_desc {
    &:before {
      display: none;
    }
    img {
      &:first-of-type {
        width: 390px;
        margin-right: 1.5rem;
        @include maxMobile {
          width: 100%;
          margin: 0;
        }
      }
      &:last-of-type {
        width: 150px;
      }
    }
  }
  .title_sections {
    margin-bottom: 2rem;
  }
  .btn_buy {
    border-radius: 12px;
    padding: 0.85rem 1.8rem;
    &:hover {
      background-color: $dark-color;
    }
  }
}
.purchase_section {
  background-color: $white-color;
  .price_item {
    .txt {
      h3 {
        color: $dark-color;
        font-size: 50px;
        font-weight: 600;
        sup {
          font-size: 25px;
        }
      }
      p {
        color: $gray-color;
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  }
}
.footer_rakon {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  &:before {
    content: "";
    @include overlay;
    background-image: url("../img/rakon/curve.png");
    background-repeat: no-repeat;
    opacity: 0;
    background-size: 100%;
    bottom: 0;
    z-index: 0;
    background-position: 0px -230px;
    @include maxSmall {
      background-size: auto;
    }
    @include maxMobile {
      background-position: center;
      background-size: cover;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .item {
    .ico {
      width: 60px;
      height: 60px;
      border-radius: 25px;
      border: 1px solid rgba($white-color, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.5rem;
      .tio {
        color: $white-color;
        font-size: 24px;
      }
    }
    .title_sections {
      margin-bottom: 2rem;
      h2 {
        color: $white-color;
      }
      p {
        color: rgba($white-color, 0.6);
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 3rem;
    p {
      color: rgba($white-color, 0.6);
      font-size: 14px;
      margin-bottom: 0.4rem;
      a {
        color: $white-color;
      }
    }
  }
}

.rakon_purchase {
  position: fixed;
  left: 40px;
  bottom: 40px;
  z-index: 999;
  .btn_purch {
    position: relative;
    @include prefixer(transition, 0.4s, webkit moz o ms);

    .icon {
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: #89bd49;
      border-radius: 50%;
      vertical-align: sub;
      img {
        width: 18px;
      }
      &:before {
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        position: absolute;
        background: rgba(#89bd49, 0.1);
        z-index: -1;
        @include prefixer(
          animation,
          pulse 2.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite,
          webkit moz o ms
        );
      }
    }
    .txt {
      padding: 0 0.6rem;
      font-size: 15px;
      font-weight: 500;
      color: $white-color;
      opacity: 0;
      display: inline-block;
      @include prefixer(transition, 0.5s, webkit moz o ms);
      visibility: hidden;
      position: absolute;
      top: 19px;
      left: 60px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      height: 65px;
      border-radius: 50px;
      background: rgba(#89bd49, 0.15);
      top: -4px;
      left: 2px;
      z-index: -1;
      @include prefixer(
        transition,
        0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        webkit moz o ms
      );
    }
    &:hover {
      .txt {
        opacity: 1;
        visibility: visible;
      }
      &:after {
        border-radius: 50px;
        background: rgba(#89bd49, 0.85);
        width: 150px;
      }
    }
  }
}

@include keyFrame(pulse) {
  0% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes keyFrame (flash) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes KeyFrame (flicker-1) {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

// upcoming__item
.upcoming__item {
  border-top: 1px solid$border-color;
  padding-top: 4rem;
  margin-top: 2rem;
  .item {
    position: relative;
    .pic_show {
      padding: 0;
      background-color: none;
      img {
        border-radius: 12px;
        width: 100%;
      }
    }
    .item_name {
      margin-top: 1.5rem;
      span {
        display: block;
        font-size: 14px;
        color: $gray-color;
        margin-bottom: 0.5rem;
      }
      h4 {
        color: $dark-color;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 1rem;
      }
    }
    .coming_soon {
      background-color: rgba($orange-color, 0.1);
      color: $orange-color;
      border-radius: 8px;
      padding: 0.6rem 1rem;
      font-size: 13px;
      height: max-content;
    }
  }
}

// demos_two
.demos_two {
  background-color: #f9f9f9;
  position: relative;
  .body_ui {
    padding-top: 180px;
    @include maxSmall {
      padding-top: 80px;
    }
  }
  .item_preview {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    .img_cover {
      position: relative;
      border-radius: 8px;
      border: 2px solid$white-color;
      padding: 22px 23px;
      margin-bottom: 1.25rem;
      height: 350px;
      display: flex;
      justify-content: center;
      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        @include prefixer(
          box-shadow,
          0px 20px 40px 0px rgba(11, 34, 56, 0.06),
          webkit moz o ms
        );
        @include prefixer(transition, 0.6s, webkit moz o ms);
      }
    }
    .body_preivew {
      text-align: center;
      span {
        display: block;
        font-size: 18px;
        color: $dark-color;
        margin-bottom: 8px;
        font-weight: 500;
      }
      h3 {
        font-size: 14px;
        font-weight: 400;
        color: $gray-color;
        margin-bottom: 0;
      }
    }
    .links_preview {
      position: absolute;
      bottom: 30px;
      opacity: 0;
      @include prefixer(
        transition,
        0.3s cubic-bezier(0.65, 0.05, 0.36, 1),
        webkit moz o ms
      );
      a {
        display: inline-block;
        border-radius: 8px;
        width: 120px;
        font-size: 14px;
        color: $white-color;
        background-color: #111213;
        padding: 11px 13px;
        @include prefixer(transition, 0.3s, webkit moz o ms);
        margin: 0 5px;
        &:hover {
          color: $white-color;
          background-color: $blue-color;
        }
      }
    }
    &:hover {
      .img_cover {
        img {
          @include prefixer(
            box-shadow,
            0px 45px 60px -30px rgba(11, 34, 56, 0.25),
            webkit moz o ms
          );
        }
      }
      .links_preview {
        opacity: 1;
        bottom: 40px;
      }
    }
    .latest_preview {
      position: absolute;
      border-radius: 5px;
      background-color: #f93542;
      color: #ffffff;
      font-size: 13px;
      top: 40px;
      left: 40px;
      padding: 7px 18px;
      @include prefixer(
        box-shadow,
        0px 0px 30px 0px rgba(249, 53, 66, 0.2),
        webkit moz o ms
      );
    }
  }
  .upcoming_item {
    .img_cover {
      padding: 0;
      border: 0;
    }
    .txt_comming {
      display: inline-block;
      border-radius: 8px;
      background-color: rgba($orange-color, 0.1);
      color: $orange-color;
      padding: 0.6rem 1.5rem;
      font-size: 14px;
    }
  }
}
html:not(.no-js) [data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

/*-----------------------------
  Update 2.0
-----------------------------*/
.bg_mode_black {
  background-color: #0e0e0f;
}

.banner_theme {
  background-color: #0e0e0f !important;
  padding-top: 0 !important;
  height: 770px !important;
  @include maxMobile {
    height: 100% !important;
  }
  .content_body {
    position: relative;
    z-index: 2;
    padding-top: 8rem;
  }
  .banner_cover {
    position: absolute;
    img {
      width: 100%;
    }
    &::before {
      content: "";
      @include overlay;
      @include prefixer(
        background,
        radial-gradient(
          circle,
          rgba(14, 14, 15, 0.93) 0%,
          rgba(14, 14, 15, 1) 100%
        ),
        webkit moz o ms
      );
      z-index: 1;
    }
  }
  .vr_2 {
    .img_two {
      position: relative;
      &::before {
        content: "";
        background: url("../img/rakon/blur.png");
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 400px;
        background-size: contain;
        z-index: -1;
        background-position: center;
      }
      img {
        height: 220px;
        object-fit: contain;
        pointer-events: none;
      }
      .released {
        position: absolute;
        background-color: $white-color;
        border-radius: 8px;
        color: $black-color;
        font-size: 16px;
        padding: 9px 23px;
        top: 50%;
        left: 45%;
        display: inline-block;
        @include maxMobile {
          left: 35%;
        }
      }
    }
    .name_vv {
      color: $light-color;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
  .man_colors {
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: contain;
      pointer-events: none;
      right: -48%;
    }
    @include maxMobile {
      display: none;
    }
  }
  .banner_title {
    position: relative;
    z-index: 2;
    margin-top: 35px;
    h1 {
      color: $white-color;
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 30px;
      @include maxMobile {
        font-size: 40px;
      }
    }
    .action_btn {
      .btn {
        width: 180px;
        border-radius: 8px;
        padding: 18px 12px;
        margin: 0 10px;
        span {
          font-size: 16px;
          color: $white-color;
          font-weight: 400;
        }
        svg {
          margin-right: 6px;
          @include prefixer(
            animation,
            wobble-hor-bottom 0.8s infinite both,
            webkit moz o ms
          );
        }
        &.btn_demo {
          border: 1px solid rgba($white-color, 0.17);
        }
        &.btn_buy {
          background-color: $blue2-color;
          @include prefixer(
            box-shadow,
            0px 0 99px 0px rgba(56, 117, 247, 0.6),
            webkit moz o ms
          );
        }
      }
    }
  }
}

// plugin_free
.plugin_free {
  background-color: $white-color;
  position: relative;
  margin-top: -30px;
  z-index: 2;
  @include maxMobile {
    margin-top: 50px;
  }
  &::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
  &::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
  .item_plugins {
    .free_txt {
      background-color: $red-color;
      color: $white-color;
      border-radius: 4px;
      padding: 6px 16px;
      font-size: 13px;
      display: inline-block;
      margin-bottom: 30px;
    }
    .item_product {
      .icon {
        width: 60px;
        height: 60px;
        border-radius: 25px;
        border: 1px solid#F1F1F1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        .tio {
          font-size: 26px;
        }
        svg {
          width: 26px;
          path {
            fill: $dark-color;
          }
        }
      }
      .txt {
        text-align: left;
        h5 {
          font-size: 18px;
          color: $dark-color;
          font-weight: 500;
          margin-bottom: 5px;
        }
        p {
          font-size: 15px;
          color: $gray-color;
          margin-bottom: 0;
        }
      }
    }
  }
}

// ststues_elements
.ststues_elements {
  .item {
    h3 {
      color: $white-color;
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      color: $white-color;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
}

// block_filter
.block_filter {
  background-color: $white-color;
  .nav {
    .nav-item {
      .btn {
        position: relative;
        color: $dark-color;
        font-size: 16px;
        font-weight: 400;
        border-radius: 0;
        padding: 25px 10px;
        margin: 0 15px;
        display: flex;
        justify-content: center;
        &::before {
          content: "";
          background-color: $blue-color;
          width: 5px;
          height: 5px;
          display: block;
          position: absolute;
          bottom: 13px;
          border-radius: 50%;
          opacity: 0;
          @include prefixer(transition, 0.5s, webkit moz o ms);
        }
        &.active {
          &::before {
            opacity: 1;
            @include prefixer(animation, bounce-top 0.9s both, webkit moz o ms);
          }
        }
      }
    }
  }
}

// section_slider_swipe
.section_slider_swipe {
  background-color: #f9f9f9;
  .multi_shot {
    .swipe_shot {
      padding-top: 50px;
    }
    .swiper-wrapper {
      margin: 0 -200px;
      @include maxMobile {
        margin: inherit;
      }
    }
    .shot_img {
      display: block;
      text-decoration: none;
      img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        height: 280px;
      }
    }
    .swiper-pagination-progressbar {
      height: 1.5px;
      width: 100px;
      right: 160px;
      left: inherit;
      background: rgba($dark-color, 0.12);
      @include maxMobile {
        left: 20px;
        top: 20px;
      }
      .swiper-pagination-progressbar-fill {
        background: $dark-color;
      }
    }
  }
}

// features_one
.features_one {
  background: $white-color;
  padding: 50px 0;
  .item {
    .ico {
      width: 60px;
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      border: 1px solid rgba($dark-color, 0.08);
      margin-right: 15px;
      svg {
        width: 28px;
        path {
          fill: $dark-color;
        }
      }
    }
    h3 {
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}

// showcase_screens
.showcase_screens {
  .showcase_multipage {
    position: relative;
    img {
      width: 100%;
    }
    &::before {
      content: "";
      background: linear-gradient(rgba(#0e0e0f, 0), rgba(#0e0e0f, 1));
      @include overlay;
      z-index: 1;
    }
  }
}

// showcase_device
.showcase_device {
  background-color: $white-color;
  position: relative;
  margin-top: -30px;
  z-index: 2;
  &::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
  &::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
}

// other_features
.other_features {
  .features_one {
    background: transparent;
    padding: 0;
    margin: 0;
    .item {
      margin-bottom: 40px;
      .ico {
        border-color: rgba($white-color, 0.15);
        margin-right: 0;
        margin-bottom: 20px;
        svg {
          path,
          rect {
            fill: $white-color;
          }
        }
      }
      h3 {
        color: $white-color;
      }
    }
  }
  .anime_svg {
    .opac {
      @include prefixer(animation, flash linear 4.5s infinite, webkit moz o ms);
    }
    .opac01 {
      @include prefixer(animation, flash linear 6.5s infinite, webkit moz o ms);
    }
    .opac02 {
      @include prefixer(
        animation,
        flash linear 11.5s infinite,
        webkit moz o ms
      );
    }

    .opac04 {
      @include prefixer(animation, flash linear 8.5s infinite, webkit moz o ms);
    }
    .opac05 {
      @include prefixer(animation, flash linear 3.5s infinite, webkit moz o ms);
    }
  }
}

// section_library_use
.section_library_use {
  background-color: $white-color;
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
  &::after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #0e0e0f;
    @include maxMobile {
      display: none;
    }
  }
  .box_lib {
    @include maxMobile {
      text-align: center;
    }
    .item {
      display: inline-block;
      text-align: center;
      @include maxMobile {
        margin: 0 5px 20px 5px;
      }
      @include minLarge {
        width: calc(100% / 9);
      }
      margin-bottom: 40px;
      .imag_lib {
        width: 90px;
        height: 90px;
        background-color: rgba($dark-color, 0.03);
        border-radius: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-bottom: 15px;
        img {
          width: 50px;
        }
      }
      h5 {
        color: $dark-color;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
  }
}

.block_filter {
  position: absolute;
  width: 100%;
  top: 0;
  @include prefixer(
    transition,
    0.4s cubic-bezier(0.65, 0.05, 0.36, 1),
    webkit moz o ms
  );
}

.fixedfilter {
  position: fixed;
  top: auto;
  bottom: 0;
  z-index: 22;
  width: 100%;
  @include prefixer(
    animation,
    slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    webkit moz o ms
  );
}

.hidefilter {
  @include prefixer(
    animation,
    slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both,
    webkit moz o ms
  );
}
